body {
	font-family: 'Trebuchet MS' sans-serif;
	text-align: center;
	background-color: #444444;
	color: #8cb9e2;
	font-size: 16px;	
}

#name {
	display: inline-block;
	margin: 10px auto 1px auto;
}

#input {
	width: 300px;
	height: 100px;
	padding: 5px;
}

.subscript {
	font-size: 11px;
	margin-top: 3px;
}

.btn {	
	margin: 10px 14px 10px 14px;
}

.well {
	min-height: 500px;
	border-radius: 10px;
}

#inputPerTeam {
	text-align: center;
	width: 40px;
	height: 20px;
}

#select {
	margin-top: 20px;
}

.box {
  padding: 5px;
  margin: 9px;
	width: 100px;
	background-color: #303030;
	border-radius: 5px;
}

.eachTeam {
	border-radius: 5px;
  padding: 10px;
  margin: 10px;
	width: 110px;
	min-height: 100px;
	text-align: center;
	vertical-align: top;
	display: inline-block;
	background-color: #444444;
}

#makeList {
	display: inline-block;
	text-align: center;
}

#clearFooter {
  clear: both;
  height: 50px;
}

#footer {
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 150;

}
#test {
  background-color: black;
  opacity: 0.5;
}

img {
	text-align: left;
	height: 100px;
	padding: 10px;
}